<p id="notice"><%= notice %></p>

<h1>Aps</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aps.each do |ap| %>
      <tr>
        <td><%= ap.nombre %></td>
        <td><%= ap.edad %></td>
        <td><%= link_to 'Show', ap %></td>
        <td><%= link_to 'Edit', edit_ap_path(ap) %></td>
        <td><%= link_to 'Destroy', ap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ap', new_ap_path %>
